Language.Discovery/Language.Discovery.Admin/Service References/PhraseCategoryService/PhraseCategoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Language.Discovery.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Language.Discovery.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhraseCategoryHeaderContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhraseCategoryHeaderContract" nillable="true" type="tns:PhraseCategoryHeaderContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhraseCategoryHeaderContract" nillable="true" type="tns:ArrayOfPhraseCategoryHeaderContract" />
  <xs:complexType name="PhraseCategoryHeaderContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedByID" type="xs:long" />
      <xs:element minOccurs="0" name="DisplayInUI" type="xs:boolean" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDemo" type="xs:boolean" />
      <xs:element minOccurs="0" name="LevelID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedByID" type="xs:long" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ordinal" type="xs:int" />
      <xs:element minOccurs="0" name="PhraseCategories" nillable="true" type="tns:ArrayOfPhraseCategoryContract" />
      <xs:element minOccurs="0" name="PhraseCategoryHeaderID" type="xs:long" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:long" />
      <xs:element minOccurs="0" name="TopCategoryHeaderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhraseCategoryHeaderContract" nillable="true" type="tns:PhraseCategoryHeaderContract" />
  <xs:complexType name="ArrayOfPhraseCategoryContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhraseCategoryContract" nillable="true" type="tns:PhraseCategoryContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhraseCategoryContract" nillable="true" type="tns:ArrayOfPhraseCategoryContract" />
  <xs:complexType name="PhraseCategoryContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayInUI" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IsDemo" type="xs:boolean" />
      <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LevelID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ordinal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PhraseCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhraseCategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="PhraseCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TopCategoryHeaderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhraseCategoryContract" nillable="true" type="tns:PhraseCategoryContract" />
  <xs:complexType name="ArrayOfTopCategoryContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopCategoryContract" nillable="true" type="tns:TopCategoryContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopCategoryContract" nillable="true" type="tns:ArrayOfTopCategoryContract" />
  <xs:complexType name="TopCategoryContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMain" type="xs:boolean" />
      <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopCategoryHeaderID" type="xs:int" />
      <xs:element minOccurs="0" name="TopCategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="TopCategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopCategoryContract" nillable="true" type="tns:TopCategoryContract" />
</xs:schema>