Language.Discovery/Language.Discovery.Admin/Service References/AuxilliaryService/AuxilliaryServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Language.Discovery.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Language.Discovery.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PhraseCategoryHeaderContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedByID" type="xs:long" />
      <xs:element minOccurs="0" name="DisplayInUI" type="xs:boolean" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDemo" type="xs:boolean" />
      <xs:element minOccurs="0" name="LevelID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedByID" type="xs:long" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ordinal" type="xs:int" />
      <xs:element minOccurs="0" name="PhraseCategories" nillable="true" type="tns:ArrayOfPhraseCategoryContract" />
      <xs:element minOccurs="0" name="PhraseCategoryHeaderID" type="xs:long" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:long" />
      <xs:element minOccurs="0" name="TopCategoryHeaderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhraseCategoryHeaderContract" nillable="true" type="tns:PhraseCategoryHeaderContract" />
  <xs:complexType name="ArrayOfPhraseCategoryContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhraseCategoryContract" nillable="true" type="tns:PhraseCategoryContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhraseCategoryContract" nillable="true" type="tns:ArrayOfPhraseCategoryContract" />
  <xs:complexType name="PhraseCategoryContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayInUI" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IsDemo" type="xs:boolean" />
      <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LevelID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ordinal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PhraseCategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhraseCategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="PhraseCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TopCategoryHeaderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhraseCategoryContract" nillable="true" type="tns:PhraseCategoryContract" />
  <xs:complexType name="InfoContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoID" type="xs:long" />
      <xs:element minOccurs="0" name="InfoMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoContract" nillable="true" type="tns:InfoContract" />
  <xs:complexType name="SearchInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="InfoType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RowsPerPage" type="xs:int" />
      <xs:element minOccurs="0" name="VirtualCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchInfoDTO" nillable="true" type="tns:SearchInfoDTO" />
  <xs:complexType name="ArrayOfInfoContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoContract" nillable="true" type="tns:InfoContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoContract" nillable="true" type="tns:ArrayOfInfoContract" />
  <xs:complexType name="FilterContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilterID" type="xs:long" />
      <xs:element minOccurs="0" name="FilterName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterContract" nillable="true" type="tns:FilterContract" />
  <xs:complexType name="ClassContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassID" type="xs:int" />
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassContract" nillable="true" type="tns:ClassContract" />
  <xs:complexType name="ArrayOfGradeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GradeContract" nillable="true" type="tns:GradeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGradeContract" nillable="true" type="tns:ArrayOfGradeContract" />
  <xs:complexType name="GradeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="GradeID" type="xs:int" />
      <xs:element minOccurs="0" name="GradeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GradeContract" nillable="true" type="tns:GradeContract" />
</xs:schema>