Language.Discovery/Language.Discovery.Admin/Service References/ReportService/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IReportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49708/Service/ReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49708/Service/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_GetMailExhangeLogReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMailExhangeLogReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetMailExhangeLogReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMailExhangeLogReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetUserLoginReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLoginReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetUserLoginReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLoginReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetUserListReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetUserListReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetMailExhangeStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMailExhangeStatistics" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetMailExhangeStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMailExhangeStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="GetMailExhangeLogReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetMailExhangeLogReport" message="tns:IReportService_GetMailExhangeLogReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetMailExhangeLogReportResponse" message="tns:IReportService_GetMailExhangeLogReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLoginReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetUserLoginReport" message="tns:IReportService_GetUserLoginReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetUserLoginReportResponse" message="tns:IReportService_GetUserLoginReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserListReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetUserListReport" message="tns:IReportService_GetUserListReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetUserListReportResponse" message="tns:IReportService_GetUserListReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMailExhangeStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetMailExhangeStatistics" message="tns:IReportService_GetMailExhangeStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetMailExhangeStatisticsResponse" message="tns:IReportService_GetMailExhangeStatistics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IReportService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMailExhangeLogReport">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetMailExhangeLogReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLoginReport">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetUserLoginReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListReport">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetUserListReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailExhangeStatistics">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetMailExhangeStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:49708/Service/ReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>